APP_NAME="Nayan Mart"
APP_ENV=production
APP_KEY=base64:KyxwHQtov0nKgiTHaUBBYiwk+m9g2sXgT4G+8YBgnmk=
APP_DEBUG=false
APP_TIMEZONE=Asia/Kolkata
APP_URL=https://yourdomain.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

# Database Configuration (SQLite)
# Default database location is database/database.sqlite
# Make sure database/ and database/database.sqlite have write permissions (chmod 775 / 664)
DB_CONNECTION=sqlite
# DB_DATABASE=/home/u123456789/domains/yourdomain.com/public_html/database/database.sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=file
CACHE_PREFIX=nayanmart_

# Store Owner Support Details
STORE_PHONE=7550807912
STORE_EMAIL=skrousonali2024@gmail.com
STORE_UPI_ID=7550807912@paytm
